@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic&family=Press+Start+2P&family=Tilt+Neon&family=Tilt+Prism&display=swap');


.navbar-brand {
    font-family: 'Press Start 2P', cursive;

}
.PS2P {
    font-family: 'Press Start 2P', cursive;

}
.BNF {
    font-family: 'Bebas Neue', sans-serif;

}
.nav-link{
    font-family: 'Tilt Neon', cursive;

}
.fonttptw {
  font-family: 'Nanum Gothic', cursive;
}
.card {
  flex-direction: row;
  align-items: center;
}
.card-title {
  font-weight: bold;
}
.card img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  .card img {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
}

body {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
}


.skills {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.skill {
    margin: 1em 0;
    position: relative;
    width: 22.5em;
}

.skill__type {
    color: #fff;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 5em;
}

.skill__outer-bar, .skill__inner-bar {
    height: .30em;
}

.skill__outer-bar {
    margin-top: 1em;
    background: #141414;
}
.skill__inner-bar {
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill__inner-bar--100 {
    width: 100%;
    background: #18A6F8;
}
.skill__inner-bar--90 {
    width: 90%;
    background: #18A6F8;
}
.skill__inner-bar--80 {
    width: 80%;
    background: #18A6F8;
}
.skill__inner-bar--70 {
    width: 70%;
    background: #18A6F8;
}
.skill__inner-bar--60 {
    width: 60%;
    background: #18A6F8;
}
.skill__inner-bar--50 {
    width: 50%;
    background: #18A6F8;
}
.skill__inner-bar--40 {
    width: 40%;
    background: #18A6F8;
}
.skill__inner-bar--30 {
    width: 30%;
    background: #18A6F8;
}

@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}
.animate1 {
  color: white;
}
body {
  cursor: url(https://media.discordapp.net/attachments/770612689985863692/1142826861810946158/cursor-pointer-14-dark.png),pointer;
}

.snow {
  background: #e8f6ff;
  border-radius: 50%;
  position: absolute;
  animation: snowFall 10s linear;
  opacity: 0.1;
  z-index: 2;
}

@keyframes snowFall {
  0% {
    opacity: 0;
    top: 0;
    transform: translateX(-5px);
  }

  10% {
    opacity: 1;
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  30% {
    opacity: 1;
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}